.jumbotron {
    padding: 0.0em 0.0em;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;  
    }
    
}

h2{
    color: white;
}

p{
    color: white;
}

.jumbotron{
    background-image: url('http://www.rainbowkits.com/Xtreme/signs/auto-photos/BuySell-Trade.jpg');
    background-size: contain;
}
body {
    background-color: yellowgreen;
}

/* Start http://www.cursors-4u.com */ 
body, a:hover 
{cursor: url(http://cur.cursors-4u.net/cursors/cur-10/cur969.ani),
     url(http://cur.cursors-4u.net/cursors/cur-10/cur969.png), progress !important;
    }
/* End http://www.cursors-4u.com */
