/* settings for jumbotron */
.jumbotron {
    padding: 0.0em 0.0em;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;  
    }

}

/* <h2> color change */
h2{
    color: white;
}

/* <p> color change */
p{
    color: white;
}

/* jumbotron background image */
.jumbotron{
    background-image: url('http://www.rainbowkits.com/Xtreme/signs/auto-photos/BuySell-Trade.jpg');
    background-size: contain;
}

/* background for body*/
body {
    background-color: #2aabd2;
}

/* cursor for pages */
body, a:hover 
{cursor: url(http://cur.cursors-4u.net/cursors/cur-10/cur969.ani),
     url(http://cur.cursors-4u.net/cursors/cur-10/cur969.png), progress !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}